* {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 241, 241);
}

header {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1.5px solid #FFF;
}

.headerLogo {
    width: 15%;
    height: 80%;
    border: 1px solid black;
}

.headerLogo h1 {
    text-transform: uppercase;
    font-size: x-large;
    color: rgb(208, 173, 110);
    margin-left: 0.6rem;
    /* border-bottom: 1px solid red; */
}

section div.homeContainer h2{
    color: rgb(208, 173, 110);
}
section div.homeContainer h2 span{
    color:red;
}

.headerLogo span {
    text-transform: uppercase;
    color: rgb(37, 37, 37);
    margin-top: 10px;
    font-size: smaller;
    letter-spacing: 4px;
    margin-left: 12px;
}

.navigation {
    width: 30%;
    font-size: larger;
    height: 4.7rem;
}

.navStyle {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    height: 100%;
}

ul.navStyle li {
    padding: 25px 20px;
    border-bottom: 2px solid rgb(208, 173, 110);
    ;
}

/* 

landing page Sale 

*/

section.onSaleContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 8rem;
    min-height: 700px;
}

section.onSaleContainer div.homeContainer {
    border: 1px solid black;
    height: 25rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

section.onSaleContainer div.imgContainer img{
    border: 1px solid black;
    height: 25rem;
    width: 35rem;
}

/*

Content area

*/

section.contentContainer h1 {
    text-transform: uppercase;
    font-size: 45px;
    color: rgb(208, 173, 110);
    text-align: center;
    /* border-bottom: 1px solid red; */
    text-decoration: underline;
    font-weight: lighter;
}

section.contentContainer div.featuredContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 5rem;
    text-align: center;
    padding: 20px;
    margin-top: 4rem;
}

section.contentContainer div.featuredContent figure h4 span{
    color: rgb(208, 173, 110);
}
